{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">原密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" lay-verify="required" lay-reqtext="原密码不能为空" placeholder="请输入原密码" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">新密码</label>
        <div class="layui-input-block">
            <input type="text" name="new_password" lay-verify="required" lay-reqtext="新密码不能为空" placeholder="请输入新密码" value="" class="layui-input">
            <tip>不少于6个字符</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">确认新密码</label>
        <div class="layui-input-block">
            <input type="text" name="re_new_password" lay-verify="required" lay-reqtext="确认新密码不能为空" placeholder="" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认修改</button>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("{:url('updatePassword')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg("修改密码成功,请重新登录");
                    setTimeout(function () {
                        window.location = '/admin/Index/login';
                    }, 1000);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
            return false;
        });

    });
</script>
</body>
</html>