{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <!--<legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">合同名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contract_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">客户单位</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customer_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">签约单位</label>
                            <div class="layui-input-inline">
                                <select name="g_c_id" lay-search>
                                    <option value="">全部</option>
                                    {foreach $group_companys as $group_company}
                                    <option value="{$group_company.id}">{$group_company.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">项目负责人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="project_leader" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">按年份筛选</label>
                            <div class="layui-input-inline">
                                <input type="text" name="select_by_year" class="layui-input" value="{$select_by_year}" id="date_time_select_by_year" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">印花税</label>
                            <div class="layui-input-inline">
                                <select name="is_stamp_tax" lay-search>
                                    <option value="">全部</option>
                                    <option value="2">有</option>
                                    <option value="1">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">收款情况</label>
                            <div class="layui-input-inline">
                                <select name="is_collection_completed" lay-search>
                                    <option value="">全部</option>
                                    <option value="2" {if $is_collection_completed==2}selected{/if}>已收完</option>
                                    <option value="1" {if $is_collection_completed==1}selected{/if}>未收完</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!--<button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除 </button>-->
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新增合同 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="collection">收款计划</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="stamp_tax">印花税</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        //初始化表格
        table.render({
            elem: '#currentTableId',
            url: '{:url("index")}',
            where:form.val("data-search"),
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            cols: [[
                {type: "checkbox", width: 50, fixed: 'left'},
                {field: 'id', width: 50, title: 'ID', fixed: 'left'},
                {field: 'contract_name', width: 150, title: '合同名称',fixed: 'left'},
                {field: 'customer_name', width: 150, title: '客户单位'},
                {field: 'group_company_name', width: 150, title: '签约单位'},
                {field: 'contract_amount', width: 120, align: "right", title: '合同金额'},
                {field: 'colletions_amount', width: 120, align: "right", title: '分期总额'},
                {field: 'invoiced_amount', width: 120, align: "right", title: '开票金额'},
                {field: 'colleted_amount', width: 120, align: "right", title: '收款金额'},
                {field: 'is_contain_tax', width: 80, title: '含税'},
                {field: 'is_stamp_tax', width: 80, title: '印花税'},
                {field: 'payment_days', width: 80, title: '账期'},
                {field: 'sign_date', width: 120, title: '签订日期'},
                {field: 'business_contact', width: 100, title: '商务联系人'},
                {field: 'project_contact', width: 100, title: '项目联系人'},
                {field: 'business_leader', width: 100, title: '商务负责人'},
                {field: 'project_leader', width: 100, title: '项目负责人'},
                {field: 'company_identifier', width: 150, title: '公司合同编号'},
                {field: 'customer_identifier', width: 150, title: '客户合同编号'},
                {field: 'create_time', width: 150, title: '创建时间'},
                {title: '操作', minWidth: 250, toolbar: '#currentTableBar', align: "center",fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'row,line',
            size:"sm"
        });

        /**
         * 搜索
         */
        form.on('submit(data-search-btn)', function (data) {
            var where = data.field;
            //重载表格
            table.reload('currentTableId', {
                page: {curr: 1},
                where: where
            }, 'data');
            return false;
        });

        /**
         * 全局操作
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                layTool.open('{:url("add")}','添加');
            } else if (obj.event === 'delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var ids_str="";
                for(var index in data){
                    ids_str+=(","+data[index].id);
                }
                layTool.confirm("确定要删除所有选中记录?",function () {
                    doDelete(ids_str);
                })
            }
        });

        /**
         * 单一操作
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layTool.open('{:url("edit","",false)}/id/'+data.id,'编辑');
            } else if (obj.event === 'delete') {
                layTool.confirm("确定要删除该记录?",function () {
                    doDelete(data.id);
                })
            }else if (obj.event === 'collection') {
                layTool.open('{:url("SalesCollection/index","",false)}/id/'+data.id,'收款计划');
            }else if (obj.event === 'stamp_tax') {
                layTool.open('{:url("stampTax","",false)}/id/'+data.id,'印花税','50%','50%');
            }
        });
        //执行删除操作
        var doDelete = function (ids) {
            $.getJSON("{:url('delete')}", {id:ids}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });
    //时间日期组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_select_by_year'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'year'
        });
    });
</script>

</body>
</html>