{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <!--<legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">合同名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contract_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除 </button>
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新增合同 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="collection">收款计划</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        //初始化表格
        table.render({
            elem: '#currentTableId',
            url: '{:url("index")}',
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID'},
                {field: 'contract_name', title: '合同名称'},
                {field: 'customer_name', title: '客户单位'},
                {field: 'sign_date', title: '签订日期'},
                {field: 'company_identifier', title: '公司合同编号'},
                {field: 'customer_identifier', title: '客户合同编号'},
                {field: 'business_contact', title: '商务联系人'},
                {field: 'project_contact', title: '项目联系人'},
                {field: 'business_leader', title: '商务负责人'},
                {field: 'project_leader', title: '项目负责人'},
                {field: 'contract_amount', title: '合同金额'},
                {field: 'all_amount', title: '总金额'},
                {field: 'payment_days', title: '账期'},
                {field: 'create_time', title: '创建时间'},
                {title: '操作', minWidth: 300, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        /**
         * 搜索
         */
        form.on('submit(data-search-btn)', function (data) {
            var where = data.field;
            //重载表格
            table.reload('currentTableId', {
                page: {curr: 1},
                where: where
            }, 'data');
            return false;
        });

        /**
         * 全局操作
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                layTool.open('{:url("add")}','添加');
            } else if (obj.event === 'delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var ids_str="";
                for(var index in data){
                    ids_str+=(","+data[index].id);
                }
                layTool.confirm("确定要删除所有选中记录?",function () {
                    doDelete(ids_str);
                })
            }
        });

        /**
         * 单一操作
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layTool.open('{:url("edit","",false)}/id/'+data.id,'编辑');
            } else if (obj.event === 'delete') {
                layTool.confirm("确定要删除该记录?",function () {
                    doDelete(data.id);
                })
            }else if (obj.event === 'collection') {
                layTool.open('{:url("SalesCollection/index","",false)}/id/'+data.id,'收款计划');
            }
        });
        //执行删除操作
        var doDelete = function (ids) {
            $.getJSON("{:url('delete')}", {id:ids}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });
</script>

</body>
</html>