{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <!--<legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">项目单位</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customer_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">

        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">

        </script>

    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        //初始化表格
        table.render({
            elem: '#currentTableId',
            url: '{:url("index")}',
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            cols: [[
                {field: 'id', width: 80, title: 'ID', fixed: 'left'},
                {field: 'customer_name', width: 150, title: '项目单位'},
                {field: 'contract_name', width: 150, title: '合同名称'},
                {field: 'sign_date', width: 150, title: '签订日期'},
                {field: 'customer_identifier', width: 150, title: '合同号'},
                {field: 'company_identifier', width: 150, title: '爱车合同编号'},
                {field: 'status_name', width: 80, title: '状态'},
                {field: 'colletion_status_name', width: 80, title: '收款'},
                {field: 'periods', width: 100, title: '期数'},
                {field: 'collection_amount', width: 150, title: '分期金额'},
                {field: 'contract_amount', width: 150, title: '合同总金额'},
                {field: 'outsourcing_pay_amount', width: 100, title: '外包费用'},
                {field: 'reimbursement_amount', width: 100, title: '报销费用'},
                {field: 'business_pay_amount', width: 100, title: '商务费用'},
                {field: 'reward_pay_amount', width: 100, title: '奖金费用'},
                {field: 'collected', width: 150, title: '实收',fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        /**
         * 搜索
         */
        form.on('submit(data-search-btn)', function (data) {
            var where = data.field;
            //重载表格
            table.reload('currentTableId', {
                page: {curr: 1},
                where: where
            }, 'data');
            return false;
        });

        /**
         * 全局操作
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                layTool.open('{:url("add")}','添加');
            } else if (obj.event === 'delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var ids_str="";
                for(var index in data){
                    ids_str+=(","+data[index].id);
                }
                layTool.confirm("确定要删除所有选中记录?",function () {
                    doDelete(ids_str);
                })
            }
        });

        /**
         * 单一操作
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layTool.open('{:url("edit","",false)}/id/'+data.id,'编辑');
            } else if (obj.event === 'delete') {
                layTool.confirm("确定要删除该记录?",function () {
                    doDelete(data.id);
                })
            }else if (obj.event === 'accounts') {
                layTool.open('{:url("SupplierAccounts/index","",false)}/id/'+data.id,'账号信息');
            }else if (obj.event === 'invoice') {
                layTool.open('{:url("CustomersInvoice/index","",false)}/id/'+data.id,'开票信息');
            }
        });
        //执行删除操作
        var doDelete = function (ids) {
            $.getJSON("{:url('delete')}", {id:ids}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });
</script>

</body>
</html>