{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <!--<legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" lay-filter="data-search" action="" >
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">合同名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contract_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">项目单位</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customer_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">签约单位</label>
                            <div class="layui-input-inline">
                                <select name="g_c_id" lay-search>
                                    <option value="">全部</option>
                                    {foreach $group_companys as $group_company}
                                    <option value="{$group_company.id}">{$group_company.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="0">全部</option>
                                    <option value="1" {if $status==1}selected{/if}>{:app\\admin\\controller\\SalesCollectionController::getStatusName(0)}</option>
                                    <option value="2" {if $status==2}selected{/if}>{:app\\admin\\controller\\SalesCollectionController::getStatusName(1)}</option>
                                    <option value="3" {if $status==3}selected{/if}>{:app\\admin\\controller\\SalesCollectionController::getStatusName(2)}</option>
                                    <option value="4" {if $status==4}selected{/if}>{:app\\admin\\controller\\SalesCollectionController::getStatusName(3)}</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">收款</label>
                            <div class="layui-input-inline">
                                <select name="colletion_status">
                                    <option value="0">全部</option>
                                    <option value="1">未收款</option>
                                    <option value="2">已收款</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">按年份筛选</label>
                            <div class="layui-input-inline">
                                <input type="text" name="select_by_year" class="layui-input" value="{$select_by_year}" id="date_time_select_by_year" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">

        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="collection">合同收款计划</a>
        </script>

    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        //初始化表格
        table.render({
            elem: '#currentTableId',
            url: '{:url("index")}',
            where:form.val("data-search"),
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            cols: [[
                {field: 'id', width: 50, title: 'ID', fixed: 'left'},
                {field: 'contract_id', width: 50, title: '合同ID', fixed: 'left', hide:true},
                {field: 'contract_name', width: 250, title: '合同名称', fixed: 'left'},
                {field: 'customer_name', width: 120, title: '项目单位'},
                {field: 'periods', width: 80, title: '期数'},
                {field: 'status_name', width: 80, title: '状态'},
                {field: 'colletion_status_name', width: 80, title: '收款'},
                {field: 'expect_check_time_format', width: 120, align: "right", title: '预验收时间'},
                {field: 'expect_invoice_time_format', width: 120, align: "right", title: '预开票时间'},
                {field: 'expect_colletion_time_format', width: 120, align: "right", title: '预收款时间'},
                {field: 'contract_amount_format', width: 120, align: "right", title: '合同总金额'},
                {field: 'collection_amount_format', width: 120, align: "right", title: '分期金额'},
                {field: 'outsourcing_pay_amount_format', width: 100, align: "right", title: '外包费用'},
                {field: 'reimbursement_amount_format', width: 100, align: "right", title: '报销费用'},
                {if checkAuth("projectRE_business_expend")}
                    {field: 'business_pay_amount_format', width: 100, align: "right", title: '商务费用'},
                {/if}
                {if checkAuth("projectRE_reward_expend")}
                    {field: 'reward_pay_amount_format', width: 100, align: "right", title: '奖金费用'},
                {/if}
                {field: 'surplus_format', width: 120, align: "right", title: '盈余'},
                {field: 'remarks', width: 120, align: "right", title: '说明'},
                {field: 'company_identifier', width: 150, title: '爱车合同编号'},
                {field: 'customer_identifier', width: 150, title: '客户合同编号'},
                {field: 'group_company_name', width: 80, title: '签约单位'},
                {field: 'sign_date_format', width: 100, title: '签订日期'},
                {title: '操作', minWidth: 120, toolbar: '#currentTableBar', align: "center",fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'row,line',
            size:"sm"
        });

        /**
         * 搜索
         */
        form.on('submit(data-search-btn)', function (data) {
            var where = data.field;
            //重载表格
            table.reload('currentTableId', {
                page: {curr: 1},
                where: where
            }, 'data');
            return false;
        });

        /**
         * 全局操作
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                layTool.open('{:url("add")}','添加');
            } else if (obj.event === 'delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var ids_str="";
                for(var index in data){
                    ids_str+=(","+data[index].id);
                }
                layTool.confirm("确定要删除所有选中记录?",function () {
                    doDelete(ids_str);
                })
            }
        });

        /**
         * 单一操作
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'collection') {
                layTool.open('{:url("SalesCollection/index","",false)}/id/'+data.contract_id,'收款计划');
            }
        });
        //执行删除操作
        var doDelete = function (ids) {
            $.getJSON("{:url('delete')}", {id:ids}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });
    //时间日期组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_select_by_year'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'year'
        });
    });
</script>

</body>
</html>