{include file="common/header" /}
<link rel="stylesheet" href="__ADMIN__/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
<style>
    .layui-card {border:1px solid #f2f2f2;border-radius:5px;}
    .icon {margin-right:10px;color:#1aa094;}
    .layuimini-qiuck-module {text-align:center;margin-top: 10px}
    .layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
    .layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
    .welcome-module {width:100%;}
    .panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:10px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
    .main_btn > p {height:40px;}
    .layui-bg-number {background-color:#F8F8F8;}
    @media screen and (min-width: 768px){
        .index-show-h5{
            display:none;
        }
        .index-show-h1{
            display:inline;
        }
    }
    @media screen and (max-width: 768px){
        .index-show-h5{
            display:inline;
        }
        .index-show-h1{
            display:none;
        }
    }

</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md8">
                        {if checkAuth("index_summary")}
                        <!--汇总信息-->
                        <div class="layui-card">
                            <div class="layui-card-header">
                                汇总
                                <label>&nbsp&nbsp查看年份:</label>
                                <div class="layui-inline" style="width: 100px">
                                    <input type="text" class="layui-input" id="select_by_year" value="{$select_by_year}">
                                </div>
                            </div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>合同数量</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["contract_nums"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["contract_nums"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>合同金额</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["contract_amount_format"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["contract_amount_format"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>已收款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["collected_amount_format"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["collected_amount_format"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body"  onclick="doToDo(31,'?is_collection_completed=1&select_by_year={$select_by_year}')">
                                                    <div class="panel-title">
                                                        <h5>待收款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{:round(($summary_statistic["contract_amount"]-$summary_statistic["collected_amount"])/10000,2)."万"}</h1>
                                                        <h5 class="no-margins index-show-h5">{:round(($summary_statistic["contract_amount"]-$summary_statistic["collected_amount"])/10000,2)."万"}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>外包金额</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["outsourcing_pay_amount_format"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["outsourcing_pay_amount_format"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>采购成本</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["reimbursement_amount_format"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["reimbursement_amount_format"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {if checkAuth("field_business")}
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>商务费用</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["business_pay_amount_format"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["business_pay_amount_format"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/if}
                                        {if checkAuth("field_reward")}
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>奖金</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$summary_statistic["reward_pay_amount_format"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$summary_statistic["reward_pay_amount_format"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if checkAuth("index_todo")}
                        <!--待办事项-->
                        <div class="layui-card">
                            <div class="layui-card-header">待办</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div>&nbsp销售合同:</div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(41,'?status=1&select_by_year=')">
                                                    <div class="panel-title">
                                                        <h5>待验收</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["sales_need_check"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["sales_need_check"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(41,'?status=2&select_by_year=')">
                                                    <div class="panel-title">
                                                        <h5>可开票</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["sales_can_invoice"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["sales_can_invoice"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(33,'?invoice_status=1')">
                                                    <div class="panel-title">
                                                        <h5>待开票</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["sales_wait_invoice"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["sales_wait_invoice"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(33,'?colletion_status=1')">
                                                    <div class="panel-title">
                                                        <h5>待收款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["sales_wait_collection"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["sales_wait_collection"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>&nbsp外包合同:</div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(68,'?status=1&select_by_year=')">
                                                    <div class="panel-title">
                                                        <h5>待验收</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["out_need_check"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["out_need_check"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(68,'?status=2&select_by_year=')">
                                                    <div class="panel-title">
                                                        <h5>可付款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["out_can_pay"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["out_can_pay"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(35,'?invoice_status=1&select_by_year=')">
                                                    <div class="panel-title">
                                                        <h5>待收票</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["out_wait_invoice"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["out_wait_invoice"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(35,'?pay_status=1&select_by_year=')">
                                                    <div class="panel-title">
                                                        <h5>待付款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["out_wait_pay"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["out_wait_pay"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>&nbsp费用支出:</div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(37,'?pay_status=1')">
                                                    <div class="panel-title">
                                                        <h5>报销支出</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["expend_reimbursement"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["expend_reimbursement"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {if checkAuth("field_business")}
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(38,'?pay_status=1')">
                                                    <div class="panel-title">
                                                        <h5>商务支出</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["expend_business"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["expend_business"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/if}
                                        {if checkAuth("field_reward")}
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body" onclick="doToDo(39,'?pay_status=1')">
                                                    <div class="panel-title">
                                                        <h5>奖金支出</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins index-show-h1">{$todo["expend_reward"]}</h1>
                                                        <h5 class="no-margins index-show-h5">{$todo["expend_reward"]}</h5>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>
                                <div class="layui-card-body">
                                    <div id="echarts-records" style="width: 100%;min-height:500px"></div>
                                </div>
                            </div>
                        </div>
                        {if checkAuth("statistics")}
                        <!--报表快捷入口-->
                        <!--<div class="layui-card">-->
                            <!--<div class="layui-card-header">报表</div>-->
                            <!--<div class="layui-card-body">-->
                                <!--<div class="welcome-module">-->
                                    <!--<div class="layui-row layui-col-space10 layuimini-qiuck">-->
                                        <!--{if checkAuth("projectRE/index")}-->
                                        <!--<div class="layui-col-xs3 layuimini-qiuck-module">-->
                                            <!--<a href="javascript:parent.document.getElementById('41').click()">-->
                                                <!--<i class="layui-icon layui-icon-list"></i>-->
                                                <!--<cite>项目收支</cite>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--{/if}-->
                                        <!--{if checkAuth("ProjectREStatistics/index")}-->
                                        <!--<div class="layui-col-xs3 layuimini-qiuck-module">-->
                                            <!--<a href="javascript:parent.document.getElementById('43').click()">-->
                                                <!--<i class="layui-icon layui-icon-engine"></i>-->
                                                <!--<cite>月度汇总</cite>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--{/if}-->
                                        <!--{if checkAuth("InvoiceNumsStatistics/index")}-->
                                        <!--<div class="layui-col-xs3 layuimini-qiuck-module">-->
                                            <!--<a href="javascript:parent.document.getElementById('42').click()">-->
                                                <!--<i class="layui-icon layui-icon-survey"></i>-->
                                                <!--<cite>开票明细</cite>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--{/if}-->
                                        <!--{if checkAuth("BusinessSummary/index")}-->
                                        <!--<div class="layui-col-xs3 layuimini-qiuck-module">-->
                                            <!--<a href="javascript:parent.document.getElementById('44').click()">-->
                                                <!--<i class="layui-icon layui-icon-templeate-1"></i>-->
                                                <!--<cite>商务汇总</cite>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--{/if}-->
                                        <!--{if checkAuth("RewardSummary/index")}-->
                                        <!--<div class="layui-col-xs3 layuimini-qiuck-module">-->
                                            <!--<a href="javascript:parent.document.getElementById('45').click()">-->
                                                <!--<i class="layui-icon layui-icon-dollar"></i>-->
                                                <!--<cite>奖金汇总</cite>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--{/if}-->
                                        <!--{if checkAuth("IncomeStatement/index")}-->
                                        <!--<div class="layui-col-xs3 layuimini-qiuck-module">-->
                                            <!--<a href="javascript:parent.document.getElementById('46').click()">-->
                                                <!--<i class="layui-icon layui-icon-form"></i>-->
                                                <!--<cite>利润表</cite>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--{/if}-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        {/if}
                    </div>
                    <!--软件信息-->
                    <div class="layui-col-md4">
                        <div class="layui-box">
                            <div class="layui-row layui-col-space12">

                                <fieldset class="layui-elem-field">
                                    <legend>系统信息</legend>
                                    <div class="layui-field-box">
                                        <table class="layui-table">
                                            <tbody>
                                            <tr>
                                                <th>服务器IP</th>
                                                <td>{:getHostByName(request()->host())}</td>
                                            </tr>
                                            <tr>
                                                <th>操作系统</th>
                                                <td>{:PHP_OS}</td>
                                            </tr>
                                            <tr>
                                                <th>运行环境</th>
                                                <td>{:$_SERVER["SERVER_SOFTWARE"]}</td>
                                            </tr>
                                            <tr>
                                                <th>PHP版本</th>
                                                <td>{:PHP_VERSION}</td>
                                            </tr>
                                            <tr>
                                                <th>PHP运行方式</th>
                                                <td>{:php_sapi_name()}</td>
                                            </tr>
                                            <tr>
                                                <th>MYSQL版本</th>
                                                <td>{$mysql_version}</td>
                                            </tr>
                                            <tr>
                                                <th>ThinkPHP</th>
                                                <td>{$tp_version}</td>
                                            </tr>
                                            <tr>
                                                <th>上传附件限制</th>
                                                <td>{:ini_get("file_uploads")}M</td>
                                            </tr>
                                            <tr>
                                                <th>执行时间限制</th>
                                                <td>{:ini_get("max_execution_time")}s</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-fire icon"></i>前端框架</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>框架名称</td>
                                        <td>
                                            layuimini
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>版本</td>
                                        <td>v2.0.0</td>
                                    </tr>
                                    <tr>
                                        <td>演示地址</td>
                                        <td>
                                            iframe版-v2：<a href="http://layuimini.99php.cn/iframe/v2/index.html" target="_blank">点击查看</a><br>
                                            单页版-v2：<a href="http://layuimini.99php.cn/onepage/v2/index.html" target="_blank">点击查看</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>下载地址</td>
                                        <td>
                                            iframe版-v2：<a href="https://github.com/zhongshaofa/layuimini/tree/v2" target="_blank">github</a> / <a href="https://gitee.com/zhongshaofa/layuimini/tree/v2" target="_blank">gitee</a><br>
                                            单页版-v2：<a href="https://github.com/zhongshaofa/layuimini/tree/v2-onepage" target="_blank">github</a> / <a href="https://gitee.com/zhongshaofa/layuimini/tree/v2-onepage" target="_blank">gitee</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gitee</td>
                                        <td style="padding-bottom: 0;">
                                            <div class="layui-btn-container">
                                                <a href="https://gitee.com/zhongshaofa/layuimini" target="_blank" style="margin-right: 15px"><img src="https://gitee.com/zhongshaofa/layuimini/badge/star.svg?theme=dark" alt="star"></a>
                                                <a href="https://gitee.com/zhongshaofa/layuimini" target="_blank"><img src="https://gitee.com/zhongshaofa/layuimini/badge/fork.svg?theme=dark" alt="fork"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Github</td>
                                        <td style="padding-bottom: 0;">
                                            <div class="layui-btn-container">
                                                <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=layuimini&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                                <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=layuimini&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var $ = null;
    layui.use(['layer', 'miniTab','echarts'], function () {
            $ = layui.jquery;
            var layer = layui.layer,
            echarts = layui.echarts;
        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        var optionRecords = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['签合同金额','收款金额']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: {:json_encode($echarts["months"])}
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'签合同金额',
                    type:'line',
                    data:{:json_encode(array_values($echarts["months_contract_amount"]))}
                },
                {
                    name:'收款金额',
                    type:'line',
                    data:{:json_encode(array_values($echarts["months_collected_amount"]))}
                }
            ]
        };
        echartsRecords.setOption(optionRecords);

        // echarts 窗口缩放自适应
        window.onresize = function(){
            echartsRecords.resize();
        }
    });

    /**
     * 处理待办事项
     */
    function doToDo(id,param) {
        $obj = parent.document.getElementById(id);
        $href = $($obj).attr('layuimini-href');
        $($obj).attr('layuimini-href',$href+param);
        $obj.click();
        $($obj).attr('layuimini-href',$href);
    }
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#select_by_year'
            ,type: 'year'
            ,done: function(value, date, endDate){
                window.location.href = "{:url("welcome","",false)}"+"?select_by_year="+value;
            }
        });
    });
</script>
</body>
</html>
