{include file="common/header" /}
<link rel="stylesheet" href="__ADMIN__/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
<style>
    .layui-card {border:1px solid #f2f2f2;border-radius:5px;}
    .icon {margin-right:10px;color:#1aa094;}
    .icon-cray {color:#ffb800!important;}
    .icon-blue {color:#1e9fff!important;}
    .icon-tip {color:#ff5722!important;}
    .layuimini-qiuck-module {text-align:center;margin-top: 10px}
    .layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
    .layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
    .welcome-module {width:100%;}
    .panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:10px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
    .layui-bg-number {background-color:#F8F8F8;}
    .layuimini-notice:hover {background:#f6f6f6;}
    .layuimini-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
    .layuimini-notice-title,.layuimini-notice-label {
        padding-right: 70px !important;text-overflow:ellipsis!important;overflow:hidden!important;white-space:nowrap!important;}
    .layuimini-notice-title {line-height:28px;font-size:14px;}
    .layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md8">
                        {if checkAuth("index_summary")}
                        <!--汇总信息-->
                        <div class="layui-card">
                            <div class="layui-card-header">汇总</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>合同金额</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$summary_statistic["contract_amount_format"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>已收款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$summary_statistic["collected_amount_format"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待收款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{:amount_format($summary_statistic["collection_amount"]-$summary_statistic["collected_amount"])}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>外包金额</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$summary_statistic["outsourcing_pay_amount_format"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>报销费用</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$summary_statistic["reimbursement_amount_format"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>商务费用</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$summary_statistic["business_pay_amount_format"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>奖金费用</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$summary_statistic["reward_pay_amount_format"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if checkAuth("index_todo")}
                        <!--待办事项-->
                        <div class="layui-card">
                            <div class="layui-card-header">待办</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待验收</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["sales_need_check"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>可开票</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["sales_can_invoice"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待开票</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["sales_wait_invoice"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待收款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["sales_wait_collection"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待验收</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["out_need_check"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>可付款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["out_can_pay"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待收票</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["out_wait_invoice"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>待付款</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["out_wait_pay"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>报销支出</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["expend_reimbursement"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>商务支出</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["expend_business"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <h5>奖金支出</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$todo["expend_reward"]}</h1>
                                                        <!--<small>当前分类总记录数</small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if checkAuth("index_statistics")}
                        <!--报表快捷入口-->
                        <div class="layui-card">
                            <div class="layui-card-header">快捷入口</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10 layuimini-qiuck">
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:parent.document.getElementById('41').click()">
                                                <i class="layui-icon layui-icon-list"></i>
                                                <cite>项目收支</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:parent.document.getElementById('43').click()">
                                                <i class="layui-icon layui-icon-engine"></i>
                                                <cite>月度汇总</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:parent.document.getElementById('42').click()">
                                                <i class="layui-icon layui-icon-survey"></i>
                                                <cite>开票明细</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:parent.document.getElementById('44').click()">
                                                <i class="layui-icon layui-icon-templeate-1"></i>
                                                <cite>商务汇总</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:parent.document.getElementById('45').click()">
                                                <i class="layui-icon layui-icon-dollar"></i>
                                                <cite>奖金汇总</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:parent.document.getElementById('46').click()">
                                                <i class="layui-icon layui-icon-form"></i>
                                                <cite>利润表</cite>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                    </div>
                    <!--软件信息-->
                    <div class="layui-col-md4">
                        <div class="layui-box">
                            <div class="layui-row layui-col-space12">

                                <fieldset class="layui-elem-field">
                                    <legend>系统信息</legend>
                                    <div class="layui-field-box">
                                        <table class="layui-table">
                                            <tbody>
                                            <tr>
                                                <th>服务器IP</th>
                                                <td>{:getHostByName(request()->host())}</td>
                                            </tr>
                                            <tr>
                                                <th>操作系统</th>
                                                <td>{:PHP_OS}</td>
                                            </tr>
                                            <tr>
                                                <th>运行环境</th>
                                                <td>{:$_SERVER["SERVER_SOFTWARE"]}</td>
                                            </tr>
                                            <tr>
                                                <th>PHP版本</th>
                                                <td>{:PHP_VERSION}</td>
                                            </tr>
                                            <tr>
                                                <th>PHP运行方式</th>
                                                <td>{:php_sapi_name()}</td>
                                            </tr>
                                            <tr>
                                                <th>MYSQL版本</th>
                                                <td>{$mysql_version}</td>
                                            </tr>
                                            <tr>
                                                <th>ThinkPHP</th>
                                                <td>{$tp_version}</td>
                                            </tr>
                                            <tr>
                                                <th>上传附件限制</th>
                                                <td>{:ini_get("file_uploads")}M</td>
                                            </tr>
                                            <tr>
                                                <th>执行时间限制</th>
                                                <td>{:ini_get("max_execution_time")}s</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-fire icon"></i>前端框架</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>框架名称</td>
                                        <td>
                                            layuimini
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>版本</td>
                                        <td>v2.0.0</td>
                                    </tr>
                                    <tr>
                                        <td>演示地址</td>
                                        <td>
                                            iframe版-v2：<a href="http://layuimini.99php.cn/iframe/v2/index.html" target="_blank">点击查看</a><br>
                                            单页版-v2：<a href="http://layuimini.99php.cn/onepage/v2/index.html" target="_blank">点击查看</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>下载地址</td>
                                        <td>
                                            iframe版-v2：<a href="https://github.com/zhongshaofa/layuimini/tree/v2" target="_blank">github</a> / <a href="https://gitee.com/zhongshaofa/layuimini/tree/v2" target="_blank">gitee</a><br>
                                            单页版-v2：<a href="https://github.com/zhongshaofa/layuimini/tree/v2-onepage" target="_blank">github</a> / <a href="https://gitee.com/zhongshaofa/layuimini/tree/v2-onepage" target="_blank">gitee</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gitee</td>
                                        <td style="padding-bottom: 0;">
                                            <div class="layui-btn-container">
                                                <a href="https://gitee.com/zhongshaofa/layuimini" target="_blank" style="margin-right: 15px"><img src="https://gitee.com/zhongshaofa/layuimini/badge/star.svg?theme=dark" alt="star"></a>
                                                <a href="https://gitee.com/zhongshaofa/layuimini" target="_blank"><img src="https://gitee.com/zhongshaofa/layuimini/badge/fork.svg?theme=dark" alt="fork"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Github</td>
                                        <td style="padding-bottom: 0;">
                                            <div class="layui-btn-container">
                                                <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=layuimini&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                                <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=layuimini&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        // layer.alert("hello word")
    });
</script>
</body>
</html>
