{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <!--<legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">操作类型</label>
                            <div class="layui-input-inline">
                                <select name="type" lay-search>
                                    <option value="">全部</option>
                                    <option value="1">新增</option>
                                    <option value="2">更新</option>
                                    <option value="3">删除</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">对象名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="table_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">对象ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="object_id" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <!--<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>-->
            <!--<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>-->
        </script>

    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        //初始化表格
        table.render({
            elem: '#currentTableId',
            url: '{:url("index")}',
            toolbar: '#toolbarDemo',
            defaultToolbar: ["filter","exports","print"],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID'},
                {field: 'admin_name', title: '姓名'},
                {field: 'admin_username', title: '用户名'},
                {field: 'type', title: '操作类型'},
                {field: 'table_name', title: '对象名'},
                {field: 'object_id', title: '对象ID'},
                {field: 'data', title: '数据'},
                {field: 'remark', title: '备注'},
                {field: 'create_time', title: '操作时间'},
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'row,line',
            // size:"sm"
        });

        /**
         * 搜索
         */
        form.on('submit(data-search-btn)', function (data) {
            var where = data.field;
            //重载表格
            table.reload('currentTableId', {
                page: {curr: 1},
                where: where
            }, 'data');
            return false;
        });

        /**
         * 全局操作
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                layTool.open('{:url("add")}','添加');
            } else if (obj.event === 'delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var ids_str="";
                for(var index in data){
                    ids_str+=(","+data[index].id);
                }
                layTool.confirm("确定要删除所有选中记录?",function () {
                    doDelete(ids_str);
                })
            }
        });

        /**
         * 单一操作
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layTool.open('{:url("edit","",false)}/id/'+data.id,'编辑');
            } else if (obj.event === 'delete') {
                layTool.confirm("确定要删除该记录?",function () {
                    doDelete(data.id);
                })
            }
        });
        //执行删除操作
        var doDelete = function (ids) {
            $.getJSON("{:url('delete')}", {id:ids}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });
</script>

</body>
</html>