{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <input name="id" value="{$row['id']}" style="display: none"/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">关联销售合同</label>
            <input style="display: none" id="sales_contract_id" name="sales_contract_id" value="{$row['sales_contract_id']}"/>
            <input style="display: none" id="sales_contract_name" name="sales_contract_name" value="{$row['sales_contract_name']}"/>
            <div class="layui-input-inline">
                <select lay-filter="sales_contract_select" name="" lay-search>
                    <option value="">请选择销售合同</option>
                    {foreach $sales_contracts as $contract}
                    <option value="{$contract['id']}|-|{$contract['company_identifier']}|-|{$contract['contract_name']}" {if $contract['id'] == $row["sales_contract_id"]}selected{/if}>{$contract['contract_name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">销售合同编号</label>
            <div class="layui-input-inline">
                <input type="text" name="sales_company_identifier" id="sales_company_identifier" readonly autocomplete="off" placeholder="请输入合同名称" value="{$row['sales_company_identifier']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">合同名称</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_name" autocomplete="off" placeholder="请输入合同名称" value="{$row['contract_name']}" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商单位</label>
            <input style="display: none" id="supplier_name" name="supplier_name" value="{$row["supplier_name"]}"/>
            <input style="display: none" id="c_s_id" name="c_s_id" value="{$row["c_s_id"]}"/>
            <div class="layui-input-inline">
                <select lay-filter="supplier_select" name="" lay-search>
                    <option value="">请选择供应商单位</option>
                    {foreach $suppliers as $supplier}
                    <option value="{$supplier['company_name']}|-|{$supplier['business_contact']}|-|{$supplier['project_contact']}" {if $supplier['company_name'] == $row["supplier_name"]}selected{/if}>{$supplier['company_name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">签约单位</label>
            <div class="layui-input-inline">
                <select name="g_c_id" lay-search>
                    <option value="">请选择签约单位</option>
                    {foreach $group_companys as $group_company}
                    <option value="{$group_company.id}" {if $group_company['id'] == $row["g_c_id"]}selected{/if}>{$group_company.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">签订日期</label>
            <div class="layui-input-inline">
                <input type="text" name="sign_date" class="layui-input" id="date_time_sign_date" value="{$row['sign_date']}" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">合同开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="start_time" class="layui-input" id="date_time_start_time" value="{$row['start_time']}" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">合同结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="end_time" class="layui-input" id="date_time_end_time" value="{$row['end_time']}" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-col-md10">
        <label class="layui-form-label">合同内容</label>
        <div class="layui-input-block">
            <textarea name="content" placeholder="请输入合同内容" class="layui-textarea">{$row['content']}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">公司合同编号</label>
            <div class="layui-input-inline">
                <input type="text" name="company_identifier" autocomplete="off" placeholder="请输入公司合同编号" value="{$row['company_identifier']}" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商合同编号</label>
            <div class="layui-input-inline">
                <input type="text" name="supplier_identifier" autocomplete="off" placeholder="请输入供应商合同编号" value="{$row['supplier_identifier']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商务联系人</label>
            <div class="layui-input-inline">
                <select id="business_contact_select" name="business_contact" lay-search>
                    <option value="">请选择商务联系人</option>
                    {foreach $business_contacts as $id=>$business_contact}
                    <option value="{$id}" {if $row["b_staff_id"] == $id}selected{/if}>{$business_contact}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">项目联系人</label>
            <div class="layui-input-inline">
                <select id="project_contact_select" name="project_contact" lay-search>
                    <option value="">请选择项目联系人</option>
                    {foreach $project_contacts as $id=>$project_contact}
                    <option value="{$id}" {if $row["p_staff_id"] == $id}selected{/if}>{$project_contact}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商务负责人</label>
            <div class="layui-input-inline">
                <select name="b_l_id" lay-search>
                    <option value="">请选择商务负责人</option>
                    {foreach $business_leaders as $business_leader}
                    <option value="{$business_leader.id}" {if $business_leader['id'] == $row["b_l_id"]}selected{/if}>{$business_leader.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">项目负责人</label>
            <div class="layui-input-inline">
                <select name="p_l_id" lay-search>
                    <option value="">请选择项目负责人</option>
                    {foreach $project_leaders as $project_leader}
                    <option value="{$project_leader.id}" {if $project_leader['id'] == $row["p_l_id"]}selected{/if}>{$project_leader.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">合同金额(元)</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_amount" autocomplete="off" placeholder="请输入合同金额" value="{$row['contract_amount']}" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">账期(天)</label>
            <div class="layui-input-inline">
                <input type="text" name="payment_days" autocomplete="off" placeholder="请输入账期" value="{$row['payment_days']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否含税</label>
            <div class="layui-input-inline">
                <input type="radio" name="is_contain_tax" value="1" title="含税" {if $row["is_contain_tax"] == 1}checked{/if}>
                <input type="radio" name="is_contain_tax" value="0" title="不含税" {if $row["is_contain_tax"] == 0}checked{/if}>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">税率(%)</label>
            <div class="layui-input-inline">
                <input type="text" name="tax_rate" autocomplete="off" placeholder="请输入税率" value="{$row['tax_rate']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("{:url('edit')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
            return false;
        });

        //供应商单位选择
        form.on('select(supplier_select)', function(obj){
            var val = obj.value;
            var supplier_name = "";
            var business_contact = "";
            var project_contact = "";
            var c_s_id = 0;
            if(val){
                var arr=val.split('|-|');
                supplier_name = arr[0];
                business_contact = arr[1];
                project_contact = arr[2];
                c_s_id = arr[3];
            }
            $("#supplier_name").val(supplier_name);
            $("#c_s_id").val(c_s_id);
            //商务联系人
            business_contact_array=[];
            if(business_contact){
                business_contact_array=business_contact.split(",");
            }
            var business_contact_options = "";
            business_contact_options += '<option value="">请选择商务联系人</option>';
            for (var i=0;i<business_contact_array.length ;i++ )
            {
                var temp = business_contact_array[i].split("|--|");
                business_contact_options += '<option value="'+temp[0]+'">'+temp[1]+'</option>';
            }
            $("#business_contact_select").html(business_contact_options);
            //项目联系人
            project_contact_array=[];
            if(project_contact){
                project_contact_array=project_contact.split(",");
            }
            var project_contact_options = "";
            project_contact_options += '<option value="">请选择项目联系人</option>';
            for (var i=0;i<project_contact_array.length ;i++ )
            {
                var temp = project_contact_array[i].split("|--|");
                project_contact_options += '<option value="'+temp[0]+'">'+temp[1]+'</option>';
            }
            $("#project_contact_select").html(project_contact_options);
            form.render();
        });
        //销售合同选择
        form.on('select(sales_contract_select)', function(obj){
            var val = obj.value;
            var sales_contract_id = "";
            var sales_company_identifier = "";
            var sales_contract_name = "";
            if(val){
                var arr=val.split('|-|');
                sales_contract_id = arr[0];
                sales_company_identifier = arr[1];
                sales_contract_name = arr[2];
            }
            $("#sales_contract_id").val(sales_contract_id);
            $("#sales_company_identifier").val(sales_company_identifier);
            $("#sales_contract_name").val(sales_contract_name);
        });
    });
    //时间日期组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_sign_date'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
        });
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_start_time'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
        });
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_end_time'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
        });
    });
</script>
</body>
</html>