{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <input type="text" name="contract_id" style="display: none" value="{$contract_id}">
    <div class="layui-form-item">
        <label class="layui-form-label">收款期数</label>
        <div class="layui-input-block">
            <select name="sales_collection_id" lay-search>
                <option value="">请选择收款期数</option>
                {foreach $sales_collections as $sales_collection}
                <option value="{$sales_collection['id']}">{$sales_collection['periods']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">期数</label>
        <div class="layui-input-block">
            <input type="text" name="periods" autocomplete="off" placeholder="请输入期数" value="{$maybe}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">付款金额(元)</label>
        <div class="layui-input-block">
            <input type="text" name="pay_amount" autocomplete="off" placeholder="请输入付款金额" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">税率%</label>
        <div class="layui-input-block">
            <input type="text" name="tax_rate" readonly autocomplete="off" placeholder="请输入税率" value="{$tax_rate}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">总付款金额(元)</label>
        <div class="layui-input-block">
            <input type="text" name="all_pay_amount" readonly autocomplete="off" placeholder="请输入总付款金额" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="__ADMIN__/js/computer.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("{:url('add')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.location.reload();
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
            return false;
        });
        //监听付款金额
        $("input[name='pay_amount']").bind('input propertychange', function() {
            doCompute();
        });

        //数据关联计算
        var doCompute = function () {
            //付款金额
            var pay_amount = $("input[name='pay_amount']").val();
            //税率
            var tax_rate = $("input[name='tax_rate']").val();
            if(tax_rate=="---"){
                tax_rate = 0;
            }
            //总付款金额
            var all_pay_amount = accMul(pay_amount,accAdd(1,accDiv(tax_rate,100)));
            $("input[name='all_pay_amount']").val(all_pay_amount);
        }

    });
</script>
</body>
</html>