{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" id="add_outsourcing_payment"> 添加付款计划 </button>
        </div>
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="80">
                <col width="100">
                <col width="100">
                <col width="80">
                <col width="100">
                <col width="80">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>期数</th>
                <th>对应收款期数</th>
                <th>付款金额(元)</th>
                <th>税率%</th>
                <th>总付款金额(元)</th>
                <th>未付金额(元)</th>
                <th>付款比例%</th>
                <th>验收时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $res as $row}
            <tr>
                <td>{$row["id"]}</td>
                <td>{$row["periods"]}</td>
                <td>{$row["sales_periods"]}</td>
                <td align="right">{$row["pay_amount_format"]}</td>
                <td>{$row["tax_rate"]}</td>
                <td align="right">{$row["all_pay_amount_format"]}</td>
                <td align="right">{$row["unpay_amount"]}</td>
                <td>{:round(($row["all_pay_amount"]/$others["htzje"])*100,2)}</td>
                <td>{$row["check_time"]}</td>
                <td><a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" onclick="change_status({$row['status']},{$row['id']})">{$row["status_name"]}</a></td>
                <td>
                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" onclick="edit({$row['id']})">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" onclick="del({$row['id']})">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div style="padding-left: 30%;">
            <span {if $others["skzjehj"] != $others["htzje"]}style="color: red"{/if}>总付款金额合计:{$others["skzjehj_format"]}</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span>合同总金额:{$others["htzje_format"]}</span>
        </div>
    </div>
</div>
<script>
    var $;
    layui.use(['jquery'], function () {
        $ = layui.jquery;
        $("#add_outsourcing_payment").click(function (e) {
            layTool.open('{:url("add","contract_id=".$others["htid"])}','添加');
        });
    });

    //编辑
    function edit(id) {
        layTool.open('{:url("edit","",false)}/id/'+id,'编辑');
    }
    //删除
    function del(id) {
        layTool.confirm("确定要删除该记录?",function () {
            $.getJSON("{:url('delete')}", {id:id}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        window.location.reload();
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        })
    }
    //状态处理
    function change_status(status,id){
        //待验收
        if(status == 0){
            layTool.open('{:url("status0","",false)}/id/'+id,'待验收','50%','50%');
        }
        //可收款
        if(status == 1){
            layTool.open('{:url("status1","",false)}/id/'+id,'可收款','80%','80%');
        }
        //申请收款
        if(status == 2){
            layTool.alert("请等待财务操作",6);
        }
    }
</script>

</body>
</html>