{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <input name="id" value="{$row['id']}" style="display: none"/>
    <input name="periods" value="{$row['periods']}" style="display: none"/>
    <input name="all_pay_amount" value="{$row['all_pay_amount']}" style="display: none"/>
    <input name="contract_id" value="{$contract['id']}" style="display: none"/>
    <input name="contract_name" value="{$contract['contract_name']}" style="display: none"/>
    <input name="is_contain_tax" value="{$contract['is_contain_tax']}" style="display: none"/>
    <input name="tax_rate" value="{$contract['tax_rate']}" style="display: none"/>
    <div class="layui-form-item">
        <label class="layui-form-label">付款金额</label>
        <div class="layui-input-block">
            <input type="text" name="pay_amount" value="{$row['all_pay_amount']}" autocomplete="off" placeholder="请输入付款金额" class="layui-input">
        </div>
    </div>
    <input style="display: none" id="payee" name="payee"/>
    <div class="layui-form-item">
        <label class="layui-form-label">账户名</label>
        <div class="layui-input-block">
            <select lay-filter="payee_select" name="">
                <option value="">请选择账户名</option>
                {foreach $accounts as $account}
                <option value="{$account['payee']}|-|{$account['bank_name']}|-|{$account['bank_account']}|-|{$account['branch']}">{$account["payee"]}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开户行</label>
        <div class="layui-input-block">
            <input type="text" name="bank_name" id="bank_name" autocomplete="off" placeholder="请输入开户行" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">银行账号</label>
        <div class="layui-input-block">
            <input type="text" name="bank_account" id="bank_account" autocomplete="off" placeholder="请输入账号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分行</label>
        <div class="layui-input-block">
            <input type="text" name="branch" id="branch" autocomplete="off" placeholder="请输入分行" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn_1">确认</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="cancel_1">取消</button>
        </div>
    </div>
</div>
</div>
<!--确认实际收款弹层-->
<div class="layui-form layuimini-form" id="confirm_collection_div" style="display: none;padding-right: 10%;padding-top: 10px;padding-bottom: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">确定实际付款</label>
        <div class="layui-input-block">
            <input type="text" name="" id="confirm_payment" autocomplete="off" readonly value="" class="layui-input"><br>
            <span style="color: red">本期待付款:<span id="to_be_payed"></span></span>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn_2">确认</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="cancel_2">取消</button>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //确认实际收款索引
        var confirm_payment_layer_index = 0;
        //待提交的表单数据
        var form_data = null;
        //监听确认1
        form.on('submit(saveBtn_1)', function (data) {
            form_data = data;
            if(!data.field.pay_amount){
                layTool.alert("请输入付款金额",2);return false;
            }
            if(!data.field.payee){
                layTool.alert("请选择收款人",2);return false;
            }
            $("#confirm_payment").val(data.field.pay_amount);
            $("#to_be_payed").html(data.field.all_pay_amount-data.field.pay_amount);
            confirm_payment_layer_index = layer.open({
                type: 1,
                title: '确认收款',
                area: ['80%', '80%'],
                content: $("#confirm_collection_div")
            });
        });
        //监听取消1
        form.on('submit(cancel_1)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            parent.location.reload();
        });
        //监听确认2
        form.on('submit(saveBtn_2)', function (data) {
            data = form_data;
            $.post("{:url('status1')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.location.reload();
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
            return false;
        });
        //监听取消2
        form.on('submit(cancel_2)', function (data) {
            layer.close(confirm_payment_layer_index);
        });
        //收款人选择
        form.on('select(payee_select)', function(obj){
            var val = obj.value;
            var payee = "";
            var bank_name = "";
            var bank_account = "";
            var branch = "";
            if(val){
                var arr=val.split('|-|');
                payee = arr[0];
                bank_name = arr[1];
                bank_account = arr[2];
                branch = arr[3];
            }
            $("#payee").val(payee);
            $("#bank_name").val(bank_name);
            $("#bank_account").val(bank_account);
            $("#branch").val(branch);
        });

    });
</script>
</body>
</html>