{include file="common/header" /}
<style>
    .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
        height: 34px;
        line-height: 34px;
        padding: 0 8px;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
            </div>
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-normal" id="btn-addnode"><i class="layui-icon"></i>添加</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="add">添加下级</a>
    <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="edit">修改</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>
<script>
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        renderTreeTable = function(){
            // 渲染表格
            layTool.loading();
            treetable.render({
                treeColIndex: 0,//折叠箭头显示在第几列上面
                treeSpid: 0,//顶级节点的pid
                treeIdName: 'id',
                treePidName: 'pid',
                elem: '#munu-table',
                url: '{:url("index")}',
                page: false,
                cols: [[
                    // {type: 'checkbox'},
                    {field: 'title', minWidth: 200, title: '节点名称'},
                    {field: 'auth_tag', title: '权限标识'},
                    {
                        field: 'is_menu', width: 150, align: 'center', templet: function (d) {
                            if (d.is_menu == 1) {
                                return '<span class="layui-badge layui-bg-gray">是</span>';
                            } else {
                                return '<span class="layui-badge-rim">否</span>';
                            }

                        }, title: '是否菜单'
                    },
                    {
                        field: 'status', width: 150, align: 'center', templet: function (d) {
                            if (d.status == 1) {
                                return '<span class="layui-badge layui-bg-gray">正常</span>';
                            } else {
                                return '<span class="layui-badge-rim">禁用</span>';
                            }

                        }, title: '状态'
                    },
                    {templet: '#auth-state', width: 200, align: 'center', title: '操作'}
                ]],
                done: function () {
                    layTool.hideLoading()
                }
            });
        };
        renderTreeTable();
        //展开和收起
        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });
        //添加顶级节点
        $('#btn-addnode').click(function () {
            layTool.open('{:url("add","",false)}/pid/0',"添加节点");
        });
        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                layTool.confirm("确定要删除该记录?",function () {
                    $.getJSON("{:url('delete')}", {id:data.id}, function (res) {
                        if(res.code == 20000) {
                            layTool.msg(res.msg);
                            setTimeout(function () {
                                renderTreeTable();
                            }, 200);
                        } else {
                            layTool.alert(res.msg,2)
                        }
                    }, 'json');
                })
            } else if (layEvent === 'edit') {
                layTool.open('{:url("edit","",false)}/id/'+data.id+'/pid/'+data.pid,"编辑节点")
            } else if (layEvent === 'add') {
                layTool.open('{:url("add","",false)}/pid/'+data.id,"添加节点")
            }
        });
    });
</script>
</body>
</html>