{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <input name="id" value="{$row['id']}" style="display: none"/>
    <input name="collection_id" value="{$row['collection_id']}" style="display: none"/>
    <div class="layui-form-item">
        <label class="layui-form-label">合同名称</label>
        <div class="layui-input-block">
            <input type="text" name="contract_name" readonly autocomplete="off" placeholder="请输入合同名称" value="{$row['contract_name']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">税号</label>
        <div class="layui-input-block">
            <input type="text" name="tax_num" readonly autocomplete="off" placeholder="请输入税号" value="{$row['tax_num']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" readonly autocomplete="off" placeholder="请输入地址" value="{$row['address']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="text" name="phone" readonly autocomplete="off" placeholder="请输入电话" value="{$row['phone']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开户行</label>
        <div class="layui-input-block">
            <input type="text" name="bank_name" readonly autocomplete="off" placeholder="请输入开户行" value="{$row['bank_name']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="text" name="bank_account" readonly autocomplete="off" placeholder="请输入账号" value="{$row['bank_account']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">待开票金额</label>
        <div class="layui-input-block">
            <input type="text" name="invoice_amount" readonly autocomplete="off" placeholder="请输入金额" value="{$row['invoice_amount']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" {if $row['invoice_amount'] != $invoice_num_amounts}style="color: red"{/if}>已开票金额</label>
        <div class="layui-input-block">
            <input type="text" name="invoice_num_amounts" readonly autocomplete="off" {if $row['invoice_amount'] != $invoice_num_amounts}style="color: red"{/if} placeholder="已开票金额" value="{$invoice_num_amounts}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">开票</button>
            <!--<button class="layui-btn layui-btn-normal" lay-submit lay-filter="addInvoiceNum">添加发票</button>-->
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="cancelBtn">取消</button>
        </div>
    </div>
</div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("{:url('doInvoice')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
            return false;
        });
        //监听添加发票号
        form.on('submit(addInvoiceNum)', function (data) {
            layer.open({
                type: 2,
                title: "添加",
                shade: 0.3,//遮罩透明度
                maxmin:true,//最大化最小化
                shadeClose: true,//点击遮罩是否关闭
                area: ['80%', '80%'],
                content: '{:url("InvoiceNums/index","",false)}/i_r_id/'+{$row['id']},
                cancel: function(index, layero){
                    window.location.reload();
                }
            });
        });
        //监听取消
        form.on('submit(cancelBtn)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>