{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <input style="display: none" name="id" value="{$row['id']}"/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">关联销售合同</label>
            <input style="display: none" id="sales_contract_id" name="contract_id" value="{$row['contract_id']}"/>
            <input style="display: none" id="sales_contract_name" name="contract_name" value="{$row['contract_name']}"/>
            <div class="layui-input-inline">
                <select lay-filter="sales_contract_select" name="" lay-search>
                    <option value="">请选择销售合同</option>
                    {foreach $sales_contracts as $contract}
                    <option value="{$contract['id']}|-|{$contract['contract_name']}|-|{$contract['contract_amount']}" {if $row["contract_id"] == $contract['id']}selected{/if}>{$contract['contract_name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">合同金额</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="number" readonly id="contract_amount" autocomplete="off" placeholder="" value="{$row["contract_amount"]}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">关联收款期数</label>
            <input style="display: none" id="collection_id" name="collection_id" value="{$row['collection_id']}"/>
            <input style="display: none" id="periods" name="periods" value="{$row['periods']}"/>
            <div class="layui-input-inline">
                <select id="sales_collection_select" lay-filter="sales_collection_select" name="" lay-search>
                    <option value="">请选择收款期数</option>
                    {foreach sales_collections as $collection}
                    <option value="{$collection['id']}|-|{$collection['periods']}|-|{$collection['collection_amount']}" {if $row["collection_id"] == $collection['id']}selected{/if}>{$collection['periods']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">分期金额</label>
            <div class="layui-input-inline">
                <input type="text" name="collection_amount" readonly autocomplete="off" placeholder="" value="{$row['collection_amount']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">费用类型</label>
            <div class="layui-input-inline">
                <input type="text" name="type" autocomplete="off" placeholder="请输入费用类型" value="{$row['type']}" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报销人</label>
            <div class="layui-input-inline">
                <select name="bx_people_id" lay-search>
                    <option value="">请选择报销人</option>
                    {foreach $bx_peoples as $bx_people}
                    <option value="{$bx_people.id}" {if $bx_people['id'] == $row["bx_people_id"]}selected{/if}>{$bx_people.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-inline">
                <input type="text" name="department" autocomplete="off" placeholder="请输入部门" value="{$row['department']}" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报销金额</label>
            <div class="layui-input-inline">
                <input type="text" name="amount" autocomplete="off" placeholder="请输入报销金额" value="{$row['amount']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">付款状态</label>
        <div class="layui-input-block">
            <input type="radio" name="pay_status" value="1" title="已付款" {if $row["pay_status"] == 1}checked{/if}>
            <input type="radio" name="pay_status" value="0" title="未付款" {if $row["pay_status"] == 0}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item layui-col-md8">
        <label class="layui-form-label">付款时间</label>
        <div class="layui-input-block">
            <input type="text" name="pay_time" value="{$row['pay_time']}" class="layui-input" id="date_time_pay_time" autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item layui-col-md8">
        <label class="layui-form-label">费用说明</label>
        <div class="layui-input-block">
            <input type="text" name="remark" autocomplete="off" placeholder="请输入费用说明" value="{$row['remark']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("{:url('edit')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
            return false;
        });
        //销售合同选择
        form.on('select(sales_contract_select)', function(obj){
            var val = obj.value;
            var sales_contract_id = "";
            var sales_contract_name = "";
            var contract_amount = 0;
            if(val){
                var arr=val.split('|-|');
                sales_contract_id = arr[0];
                sales_contract_name = arr[1];
                contract_amount = arr[2];
            }
            $("#sales_contract_id").val(sales_contract_id);
            $("#sales_contract_name").val(sales_contract_name);
            $("#contract_amount").val(contract_amount);
            //获取收款期数
            $.get("{:url('getSalesCollections')}", {contract_id:sales_contract_id}, function (res) {
                if(res.code == 20000) {
                    $("#sales_collection_select").html(res.data);
                    form.render();
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        });
        //收款期数选择
        form.on('select(sales_collection_select)', function(obj){
            var val = obj.value;
            var collection_id = "";
            var periods = "";
            var collection_amount = 0;
            if(val){
                var arr=val.split('|-|');
                collection_id = arr[0];
                periods = arr[1];
                collection_amount = arr[2];
            }
            $("#collection_id").val(collection_id);
            $("#periods").val(periods);
            $("input[name='collection_amount']").val(collection_amount);
        });

    });
    //时间日期组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_pay_time'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
            ,trigger: 'click'
        });

    });
</script>
</body>
</html>