{include file="common/header" /}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<body>
<div class="layui-form layuimini-form">
    <input type="text" name="contract_id" style="display: none" value="{$contract_id}">
    <div class="layui-form-item">
        <label class="layui-form-label">期数</label>
        <div class="layui-input-block">
            <input type="text" name="periods" autocomplete="off" placeholder="请输入期数" value="{$maybe}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">说明</label>
        <div class="layui-input-block">
            <input type="text" name="remarks" autocomplete="off" placeholder="说明" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收款金额(元)</label>
        <div class="layui-input-block">
            <input type="text" name="collection_amount" autocomplete="off" placeholder="请输入收款金额" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预验收时间</label>
        <div class="layui-input-block">
            <input type="text" name="expect_check_time" value="" class="layui-input" id="date_time_expect_check_time" autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预开票时间</label>
        <div class="layui-input-block">
            <input type="text" name="expect_invoice_time" value="" class="layui-input" id="date_time_expect_invoice_time" autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预收款时间</label>
        <div class="layui-input-block">
            <input type="text" name="expect_colletion_time" value="" class="layui-input" id="date_time_expect_colletion_time" autocomplete="off">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal submit-button-security" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $('.submit-button-security').addClass("layui-btn-disabled");$('.submit-button-security').attr('disabled', 'disabled');
            $.post("{:url('add')}", data.field, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.location.reload();
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                    $('.submit-button-security').removeClass("layui-btn-disabled");$('.submit-button-security').removeAttr('disabled');
                }
            }, 'json');
            return false;
        });

    });
    //时间日期组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_expect_check_time'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
            ,trigger: 'click'
        });
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_expect_invoice_time'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
            ,trigger: 'click'
        });
        laydate.render({
            /**
             * 绑定元素
             */
            elem: '#date_time_expect_colletion_time'
            /**
             * 面板类型:
             *      year,month,date,time,datetime 五种选择
             */
            ,type: 'date'
            ,trigger: 'click'
        });

    });
</script>
</body>
</html>