{include file="common/header" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <!--<legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">合同名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contract_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">申请人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sq_people" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="export"> 导出数据 </button>
            </div>
        </script>
        <script type="text/html" id="colletionStatusTpl">
            {{#  if(d.pay_status == 1){ }}
            <button class="layui-btn layui-btn-success layui-btn-xs">已付款</button>
            {{#  } else { }}
            <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="doPayment({{ d.id }})">未付款</button>
            {{#  } }}
        </script>
        <script type="text/html" id="invoiceStatusTpl">
            {{#  if(d.invoice_status == 1){ }}
            <button class="layui-btn layui-btn-success layui-btn-xs">已收票</button>
            {{#  } else { }}
            <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="doCollection({{ d.id }})">未收票</button>
            {{#  } }}
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
        </script>

    </div>
</div>
<script>
    var $;
    layui.use(['form', 'table'], function () {
            $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        //初始化表格
        table.render({
            elem: '#currentTableId',
            url: '{:url("index")}',
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            cols: [[
                {field: 'id', width: 50, title: 'ID', fixed: 'left'},
                {field: 'create_time', width: 100, title: '申请日期'},
                {field: 'contract_name', width: 250, title: '合同名称'},
                {field: 'periods', width: 80, title: '期数'},
                {field: 'payee', width: 80, title: '收款人'},
                {field: 'sq_people', width: 80, title: '申请人'},
                {field: 'pay_amount', width: 120, align: "right", title: '付款金额'},
                // {field: 'surplus_amount', width: 150, title: '余额'},
                {field: 'invoice_time', width: 100, title: '收票时间'},
                {field: 'pay_time', width: 100, title: '付款时间'},
                {field: 'remarks', width: 150, title: '说明'},
                {field: 'invoice_status', width: 80, title: '收票状态',templet:'#invoiceStatusTpl', fixed: 'right'},
                {field: 'pay_status', width: 80, title: '付款状态',templet:'#colletionStatusTpl', fixed: 'right'},
                {title: '操作', minWidth: 100, toolbar: '#currentTableBar', align: "left", fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'row,line',
            size:"sm"
        });

        /**
         * 搜索
         */
        form.on('submit(data-search-btn)', function (data) {
            var where = data.field;
            //重载表格
            table.reload('currentTableId', {
                page: {curr: 1},
                where: where
            }, 'data');
            return false;
        });

        /**
         * 全局操作
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'export') {
                layTool.alert("待开发..................")
            }
        });
        /**
         * 单一操作
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layTool.open('{:url("edit","",false)}/id/'+data.id,'编辑');
            }
        });

    });
    //收票
    function doCollection(id) {
        layTool.confirm("确认已收票?",function () {
            $.post("{:url('doCollection')}", {id:id}, function (res) {
                if(res.code == 20000) {
                    layTool.msg(res.msg);
                    setTimeout(function () {
                        table.reload('currentTableId');
                    }, 200);
                } else {
                    layTool.alert(res.msg,2)
                }
            }, 'json');
        })
    }
    //收款
    function doPayment(id) {
        layTool.open('{:url("doPayment","",false)}/id/'+id,'待付款');
    }
</script>

</body>
</html>